<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {


            font-size: 14px;
            background-color: #fff;
            position: relative;
            font-family: 'Montserrat', sans-serif;
        }

        * {
            position: relative;
        }

        /* Dark Mode Styles */
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #222;
                color: #fff;
            }

            table,
            td {
                border-color: #30303028;
            }

            img {
                filter: invert(100%) grayscale(100%) brightness(200%);
            }
        }

    </style>
</head>
<body>
<div>
    <table width="100%" style="padding: 0; margin: 0">
        <tbody>
        <tr>
            <td><span></span></td>
            <td valign="top" align="left" style="width: 656px; max-width: 656px">
                <table
                        width="100%"
                        bgcolor="#FFFFFF"
                        cellpadding="0"
                        cellspacing="0"
                        style="padding: 0; margin: 0; border: 0"
                >
                    <tbody>
                    <tr>
                        <td
                                align="left"
                                style="
                      padding: 0 40px;
                      /* border-radius: 16px; */
                       border: 1px solid #30303028;
                      line-height: 150%;
                      font-weight: 400;
                      overflow: hidden;
                      color: #100c2a;
                    "
                        ><br/>
                            <table width="100%"
                                   bgcolor="#FFFFFF"
                                   cellpadding="0"
                                   cellspacing="0"
                                   style="padding: 0; margin: 0; border: 0">
                                <tbody>
                                <tr>
                                    <td style=" padding: 0 20px;">
                                        <table
                                                cellpadding="0"
                                                cellspacing="0"
                                                width="100%"
                                                style="padding: 0; margin: 0; border: 0"
                                        >
                                            <tbody>
                                            <tr>

                                                <td valign="top">
                                                    <a href="https://zestpayment.com" target="_blank">
                                                        <img th:src="${logoUrl}" style="width: auto;height:30px;"
                                                             alt="Zest logo"/>
                                                    </a>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <span style=" color: #667085; font-size: 14px;font-weight: 500;line-height: 16px;" th:text="${name}">Hi User,</span>
                                        <br/>
                                        <br/>
                                        My name is Joyce, and I am the Chief Executive at Sofri. Thank you for
                                        kicking off this journey with us. We designed Sofi to support and accelerate
                                        your business growth.
                                        <br/>
                                        <br/>With our solutions, you can:
                                        <ul>
                                            <li><span style="font-weight: 600;color: #4E489D;">Get Paid:</span> Collect
                                                payments from your customers via multiple rails (Card, Transfers, Direct
                                                debits, USSD, and QR code.)
                                            </li>
                                            <li><span style="font-weight: 600;color: #4E489D;">Go Online:</span> Sell
                                                your products and services online by creating a free e-commerce store
                                                and having your products displayed on our marketplace.
                                            </li>
                                            <li><span style="font-weight: 600;color: #4E489D;">Grow Sales:</span> With
                                                business insight, a robust and analytics dashboard, invoicing tools,
                                                digital receipting, and other solutions to optimize and accelerate your
                                                growth.
                                            </li>
                                        </ul>
                                        <br />
                                        Here are key things you need to know about the payment gateway: <br/>
                                        <ul>
                                            <li><span style="font-weight: 600; color: #4E489D;">Complete your compliance requirements:</span>
                                                All you need to do is provide the required information to help us
                                                serve you better. We will confirm these details within 24 hours.
                                            </li>
                                            <li> <span style="font-weight: 600;color: #4E489D;">Create payment links:
</span> Start collecting payments by sharing your customized payment links to your customers. It takes less than 60
                                                seconds to get this done.

                                            </li>
                                            <li> <span style="font-weight: 600;color: #4E489D;">Integrate seamlessly:

</span> Connect your website, mobile app or any sales platform to our payment gateway using the simplified API keys
                                                provided on the merchant platform.

                                            </li>
                                        </ul>
                                        <br/> Go for Better with Sofri.

                                        <br/>
                                        <br/>Thank you,<br/> Joyce.

                                        <br/>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <br/>
                            <table
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="100%"
                                    style="padding: 0; margin: 0; border-top: 2px solid #F4F6F9;"
                            >
                                <tbody>
                                <tr>
                                    <td><span></span></td>
                                    <td
                                            valign="middle"
                                            align="center"
                                            style="
                              border-radius: 3px;


                            "
                                    ><br/>
                                        <p style="text-align: center;font-size: .8rem; line-height: 20px;"><span
                                                style="font-weight: 600;">Need help? Contact us </span><br/>
                                            0904 441 4140 | <a href="mailto:support@sofripayment.com">support@sofripayment.com</a> <br/>
                                            76 Adetokunbo Ademola Street, Victoria Island, Lagos, Nigeria
                                            <br/><a style="color:#02BF01 ;" href="https://www.sofripayment.com"
                                                    target="_blank" rel="noreferrer">www.zestpayment.com
                                            </a>

                                        </p>

                                    </td>
                                    <td><span></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td><span></span></td>
        </tr>
        </tbody>
    </table>


    <br/>
</div>
</body>
</html>
